.cover-image {
  height: 100%;

  img {
    // set background color before loading (will also show while loading in some browsers)
    background-color: var(--bg-tertiary-color);

    // must set as block/inline-block to preserve space if image load errors
    display: inline-block;

    // avoid alt text being visible on load; 'onerror' in the HTML will set the color back via
    // 'error' class
    color: transparent;
    height: 100%;
    object-fit: contain;

    &.error {
      color: var(--text-color);
    }
  }
}
