@import "_vars.scss";

:root {
  --text-color: black;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  font-family: libre-franklin, sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
  font-stretch: 75%;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem;
}

.navbar-brand-sub {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

// makes crispy form management with allauth simpler
form {
  width: 500px;
  max-width: 85vw;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.accessibility-hidden {
  position: absolute;
  left: -99999px;
}

a {
  font-weight: 400;
}
