:root {
  --background-color: #fff2d7;
  --primary-color: #ffe0b5;
  --secondary-color: #f8c794;
  --tertiary-color: #d8ae7e;
  --text-color: black;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: libre-franklin, sans-serif;
  font-weight: 400;
  padding: 1rem 2rem;
}

h1,
h2 {
  font-weight: 300;
  font-stretch: 75%;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem;
}

.navbar-brand-sub {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}